.user-card {
    background-color: #252b33;
}
.navbar {
    background-color: #252b33;
}
nav .main-logo {
    margin-left: 20px;
}
.router {
    height: 100%;
    width: 100%;
}
.navbar-nav a {
    background-color: #198754;
    border-color: #198754;
    border-radius: 15px;
    padding: 10px 15px;
}
.navbar-nav a:hover {
    background-color: #157046;
}